.FORMATION{
    background-color: blue;
    position: absolute;
    display: flex;
    transform-origin: left;
    transform: translateX(2000px);
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.75);
}

.titreFormation{
    margin-top: 0px;
    flex-direction: column;    
    margin-left: 100px;
    color: black;
}

.superieur {
  background-color: rgb(222, 33, 115);
  opacity: 0.302;
  position: absolute;
  left: 400px;
  top: 200px;
  width: 260px;
  height: 350px;
  z-index: 170;
}

.generalestechno {
  background-color: rgb(255, 255, 255);
  
  position: absolute;
  left: 700px;
  top: 200px;
  width: 626px;
  height: 350px;
  z-index: 176;
}

.pro {
  background-color: rgb(252, 195, 0);
  opacity: 0.302;
  position: absolute;
  left: 400px;
  top: 555px;
  width: 1000px;
  height: 350px;
  z-index: 166;
}

.PROFESSIONNELLES {
  font-size: 30px;
  font-family: "Century Gothic";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1,0,0,1.00037803123524,0,0);
  -webkit-transform: matrix( 1,0,0,1.00037803123524,0,0);
  -ms-transform: matrix( 1,0,0,1.00037803123524,0,0);
  position: absolute;
  left: 350.039px;
  top: 470.5px;
  z-index: 173;
}

.GENERALES_ET_TECHNOLOGIQUES {
  font-size: 22px;
  font-family: "Century Gothic";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 1.36089667151019,0,0,1.36652719502985,0,0);
  -webkit-transform: matrix( 1.36089667151019,0,0,1.36652719502985,0,0);
  -ms-transform: matrix( 1.36089667151019,0,0,1.36652719502985,0,0);
  position: absolute;
  left: 1230.493px;
  top: 406.775px;
  z-index: 182;
}

.trait1 {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 350px;
  top: 515px;
  width: 58px;
  height: 3px;
  z-index: 172;
}

