@import url('https://fonts.googleapis.com/css?family=Quicksand');



.PARTENARIAT{
    background-color: blue;
    position: absolute;
    display: flex;
    transform-origin: left;
    transform: translateX(2000px);
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.75);
}

.Contenu_Univ{
    border-radius: 3px;
    width: 500px;
    height: 200px;
    margin-top: 100px;
    margin-left: 150px;
    flex-direction: column;    
    background-color: rgba(255, 255, 255, 0.75);
}

.contenuUniv{
    width: 500px;
    position: relative;
    margin-left: -4000px;
    margin-top: 150px;
    flex-direction: column; 
}


.contenuUniv0{
    margin-top: 50px;
}

.lienUniv0:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline;
}

.lienUniv1:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer; 
    text-decoration: underline;
}

.lienUniv2:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline;
}

.nomEntr0:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer; 
    text-decoration: underline;
}

.nomEntr1:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline;
}

.nomAssoc0:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline; 
}

.nomAssoc1:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline; 
}

.nomAssoc2:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline; 
}

.nomAssoc3:hover{
    font-size: 18px;
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline; 
}

.contenuEntr{
    position: absolute;
    width: 500px;
    margin-left: -4000px;
    margin-top: 150px;
    flex-direction: column;
    z-index: 5000;
}

.titreUniv{
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand';
    margin-top: 0px;
}

.titreEntr{
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand';
}

.titreAssoc{
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand';
}

.titreEtab{
    margin-top: 0px;
    color: #17278a;
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand';
}

p{
    font-family: 'Quicksand';
}

.btnPrecUniv{
    z-index: 5000;
    width: 500px;
    height: auto;
    margin-top: -20px;
    position: absolute;
}

.btnPrecEntr{
   margin-top: -20px;
   width: 500px;
   height: auto;
   flex-direction: column;
   position: absolute;
}

.btnPrecAssoc{
   margin-top: -20px;
   width: 500px;
   height: auto;
   flex-direction: column;
   position: absolute;
}

.btnPrecEtab{
    margin-top: 0px;
   width: 500px;
   height: auto;
   flex-direction: column;
   position: absolute;
}

.Contenu_Entreprise{
    border-radius: 3px;
    width: 500px;
    height: 200px;
    margin-top: 100px;
    margin-left: 850px;
    position: absolute;
    flex-direction: column;    
    background-color: rgba(255, 255, 255, 0.75);
}

.contenuEntr0 a{
    color: black;
}

.contenuEntr1 a{
    color: black;
}

.Contenu_Assoc{
    width: 500px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 350px;
    margin-left: 250px;
    flex-direction: column;
    position: absolute;
}

.contenuAssoc{
    position: absolute;
    width: 500px;
    margin-left: -4000px;
    margin-top: 390px;
    flex-direction: column;
    z-index: 5000; 
}

.contenuAutreEtab{
   position: absolute;
    width: 500px;
    margin-left: -4000px;
    margin-top: 390px;
    flex-direction: column;
    z-index: 5000;   
}

.contenu_AutreEtab{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 350px;
    margin-left: 850px;
    flex-direction: column;
    position: absolute; 
}

.nomEtab{
      margin-top: -20px;
}
